@import 'flatpickr/dist/flatpickr.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.event-calendar
{
    width: 1000px;
} */

/* .calendar-width
{
    height: 500px;
    width: 700px;
    border: solid 2px black;
} */

.calendar
{
    font-size: 20px;
    border: solid 1px black;
    padding: 4px;
}

.calendar-btn
{
    font-size: 20px;
    border: solid 1px black;
    color: red;
}

.calendar-style
{
    padding: 20px;
}

